# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
app/build
*/build
build

# Ignore bin directory
app/bin
*/bin
bin

# Ignore classpath dotfiles

app/.classpath
*.classpath
.classpath
